pods
TimerTracker.xcodeproj/xcuserdata/RichardLee.xcuserdatad/xcschemes/TimerTracker.xcscheme
TimerTracker.xcworkspace/contents.xcworkspacedata
TimerTracker.xcworkspace/xcuserdata/RichardLee.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
